/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.we_need {
		height: 100%;
	}
	.slider_block_wrapperr {
		display: block;
	}
	.img_task {
		margin: 15px auto;
	}
	.about_us {
		height: 790px;
	}
	.footer_nav ul li {
		margin: 10px 0px;
	}
	.we_propose {
		padding-top: 120px;
	}
	.table .img_box {
		width: 100%;
	}
	.table {
		margin: 20px 0px;
		padding: 15px;
		height: 100%;
		max-width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.chair {
		height: 100%;
	}
	.table .decription {
		position: absolute;
		right: 45px;
		top: 315px;
	}
	.table.perks .decription {
		position: absolute;
		top: 170px;
		right: 65px;
	}
	.footer_nav ul li {
		display: block;
	}
	.owl-pagination {
		position: absolute;
		right: 0px;
		top: 50%;
	}
	.slogan_top {
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.about_us_wrap p {
		font-size: 14px;
		word-spacing: 10px;
		line-height: 24px;	
	}
	.table .img_box img {
		width: 100%;
	}
	.table .decription {
		top: 70%;
	}
	.table.perks .decription {
		top: 70%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}